@font-face{
	font-family: CaviarDreams-regular;
	src:url(../fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: CaviarDreams-bold;
    src:url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face{
    font-family: Raleway-light;
    src:url(../fonts/Raleway-Light.ttf);
    
}
@font-face{
    font-family: Raleway-italic;
    src:url(../fonts/Raleway-Italic.ttf);
    
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	font-family: CaviarDreams-regular;
	font-weight: normal;
}

*{
	padding:0;
	margin:0;
	border: none;
	outline: 0;

}

a{
    text-decoration: none;
}

.container{
	width:100%;
	max-width: 1366px;
	margin:0 auto;
}
.div-row-1{
	background: #5d2113;		
}
.d-h-row-1{
	background: #5d2113;
	padding: 10px 20px;
	text-align: center;
}

.d-h-col{
	color:#ffffff;
	display: inline-block;
	max-width:32%;
	width: 100%;
	text-transform: uppercase;
	font-size: 0.7em;
}


.div-row-2{
	height: 150px;
	background: #f7f7f8;
	
}


.d-h-row-2{
	text-align: center;
}
.d-h-col-2{
	display: inline-block;
	max-width:32%;
	width: 100%;
	font-size: 0.7em;
    margin-top:1%
}
.d-h-col-2 img{
    width: 100%;
    max-width: 60%;
    position: relative;
    top:15px;
}

.d-h-col-2 h5{
    font-size: 14px;
    color:#8b8b8b;
    font-weight: 100;
}

.d-h-col-2 h2{
    font-size: 36px;
    font-weight: 100;
}

.d-h-col-2 h2 span{
    color:#ff4081;
}



.greview {
    background-image: url(../images/g+.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    
}




.img-rvw {
    display: inline-block;
}

.img-rvw img{
    width: 100%;
    max-width: 40px;
}

.desc {
    
}

.t-r-desc {
    position: relative;
    top:-13px;
}
.nav{
    width: 100%;
    padding:5px 0;
}

.nav-b {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
}

.nav-b a{
    
    font-size: 14px;
    
}

.nav-col-lr {
    width: 100%;
    max-width: 14%;
    text-align: center;
}



.nav-col-menu {
    text-align: center;
    width: 100%;
    max-width: 69%;
}

.nav-col-menu ul li{
    list-style-type: none;
    display: inline-block;
    
}

.nav-col-menu ul li a {
    margin-top:2px;
    margin:0 3%;
     padding:2% 20%;
    font-family: CaviarDreams-bold;
    color:#5d2113;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-weight: 600;
}

.nav-b button{
    border:1px solid #fff;
    padding:2% 10%;
    background: none;
    color:#ff4081;
    cursor: pointer;
}
.div-row-3 {
    position: relative;
    background:rgba(213, 211, 211, 0.5);
}


.div-row-4{
    margin-top:-35px;
    background: url(../images/home-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 660px;
}
.div-row-5 {
    height: 268px;
    background:#fff;
    width: 100%;
}

.sli-col {
    display: inline-block;
    width: 100%;
    max-width: 48%;
}

.sli-col-desc {
    text-align: center;
    position: relative;
    top:250px;
}

.sli-col-desc button{
    cursor: pointer;
    margin-top:10px;
    padding:1% 7%;
    text-transform: uppercase;
    font-size: 12px;
    background: none;
    border:1px solid #ff4081;
    color:#ff4081;
}


.sli-col-desc h2{
    font-family: Raleway-light;
    font-size: 36px;
    color: #5d2113;
}

.sli-col-desc h5{
    font-family: Raleway-italic;
    font-size: 14px;
    color:#756767;
}


.f-m-p-col {
    height: 200px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
}

.f-m-p-col img{
    position: absolute;
	left: 0;
		-webkit-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

